
/*font-family: 'Federo', sans-serif;
font-family: 'Montserrat', sans-serif;*/

:root{
    --bg-color: #ffffff;
    --primary-color: #1b998b;
    --secondary-color: #cff5f1; 
    --pop-color: rgb(255, 182, 24);
}

body{
    background-color: var(--bg-color-light);
}

h1{
    font-size: 72px;
    font-family: 'Federo', sans-serif;
}

h2, p, a, footer, .navbar-brand, .nav-link{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 18px;
}
p{
    font-size: 14px;
    font-weight: 400;
}
ul{
    display:flex;
    justify-content: space-around;
    list-style: none;
}

/*-- 
HERO 
--*/
.hero{
    padding: 100px 0px 50px 0px;
    background-color: var(--secondary-color);
}
.titleBox{
    background: var(--primary-color);
    color: var(--bg-color);
    border: 20px solid var(--bg-color-med);
    padding: 30px;
    margin: 0px auto 0px auto;
    text-align: center;
    max-width: 600px;
}

.heroButton{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 20px;
    color: var(--bg-color);
    background-color: var(--pop-color);
    border: 0px;
    max-width: 400px;
    display: block;
    margin: 50px auto 100px auto;
    transition: all 200ms ease-in-out;
}

.heroButton:hover{
    color: var(--bg-color);
    background-color: rgb(255, 208, 108);
    border: 0px solid var(--pop-color);
}




/*-- 
Project Links 
--*/
.projectDescription{
    padding: 100px 50px;
}
.projectDescription > h2{
    font-family: 'Federo', sans-serif;
    font-size: 48px;
}
.projectPic{
    background-color: var(--secondary-color);
    padding: 50px;
}

.homepageProjectLink{
    padding: 20px;
    font-size: 14px;
    color:var(--bg-color);
    background-color: var(--primary-color);
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.homepageProjectLink:hover{
    background-color: #0e8174;
    color:var(--secondary-color);
}


/*-- 
Footer 
--*/
.socialLinks{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}
.fa-brands{
    color: var(--primary-color);
    font-size: 30px;    
}


footer{
    font-size: 12px;

}

.right{
    text-align: right;
}
.left{
    text-align: left;
}

@media (max-width: 960px) {
    .projectDescription{
        padding: 30px 20px 150px 20px;
        text-align: center;
    }
    
}